{% extends 'base.html.twig' %}

{% block title %}Détail congé{% endblock %}

{% block body %}
    <h1>Détails du congé</h1>
    <p>ID: {{ conges.id }}</p>
{% endblock %}
{% extends 'base.html.twig' %}

{% block title %}Détail congé{% endblock %}

{% block body %}
    <h1>Détails du congé</h1>
    <p>ID: {{ conges.id }}</p>
{% endblock %}
