{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}
{% block body %}
<h1>Bienvenue sur la page d'accueil</h1><a href="/avion">Avions</a> | <a href="/conges">Congés</a> | <a href="/modele">Modèles</a> | <a href="/reservation">Réservations</a> | <a href="/utilisateur">Utilisateurs</a> | <a href="/vol">Vols</a>
{% endblock %}