{% extends 'base.html.twig' %}

{% block title %}Modifier Réservation{% endblock %}

{% block body %}
    <h1>Modifier la réservation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Mettre à jour</button>
    {{ form_end(form) }}

    <a href="{{ path('app_reservation_index') }}">Retour à la liste</a>
{% endblock %}
