<form method="post" action="{{ path('app_avion_delete', {'id': avion.id}) }}"
      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet avion ?');" class="d-inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ avion.id) }}">
    <button class="btn btn-sm btn-danger">
        <i class="fas fa-trash"></i>
    </button>
</form>